@media only screen and (min-width: 300px) and (max-width: 600px) {
    .header{
        display: flex;
        flex-direction: column;
    }
  }




.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    .link{
        text-decoration: none;
        color: black;
    }
    ul{
        display: flex;
        gap: 40px;
    }
    p{
        color: black;
        font-size: 27px;
        font-weight: 700px;
        span{
            color: red;
        }
    }
}